body{
	background-color: gray;
}

html{
	font-size: 15px;
}

.content{
	max-width: 1920px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	padding: 0 30px;

	& .decoration{
		bottom: 0;
		right: 0;
		background: url('../img/bg/Group 55 (1).png');
	}

}

.left-side-content-wrapper{
	display: flex;
	max-width: 100%;
	justify-content: flex-end;
	margin: 0 auto;
}

.left-side-content{
	width: 1640px;
}

.decoration{
	position: absolute;
	width: 212px;
	height: 153px;
}

@media (max-width: 1200px) {

	html{
		font-size: 13px;
	}

	.content{
		max-width: 1200px;
	    padding: 0 25px;
	}

	.decoration{
	    width: 161px;
   	 	height: 107px;
	}

	.left-side-content-wrapper{
	    justify-content: center;
	}

	.left-side-content{
		width: 100%;
	}
}

@media (max-width: 992px) {
	html{
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.decoration{
		display: none;
	}
	.left-side-content{
		padding: 1rem 2.5rem;
	}
}

@media (max-width: 576px) {
	
	.content{
	    padding: 0 12px;
	}


}