body{
	background-color: gray;
}

.content{
	max-width: 1920px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;

	& .decoration{
		bottom: 0;
		right: 0;
		background: url('../img/bg/Group 55 (1).png');
	}

}

.left-side-content-wrapper{
	display: flex;
	max-width: 100%;
	justify-content: flex-end;
	margin: 0 auto;
}

.left-side-content{
	width: 1640px;
}

.decoration{
	position: absolute;
	width: 212px;
	height: 153px;
}

