@font-face {
  font-family: "Open Sans bold";
  src: url("../font/Open Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans semi-bold";
  src: url("../font/Open Sans/static/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans regular";
  src: url("../font/Open Sans/static/OpenSans-Regular.ttf");
}