.title{

	.title__small-heading{
		font-family: "Open Sans semi-bold";
		color: #646464;
		font-size: 1.35rem;
	}

	.title__head{
		font-family: "Open Sans bold";
		color: #212121;
		font-size: 3.2rem;
	}

}

@media (max-width: 576px) {
	
	.title__head{
		font-size: 2.8rem;
	}

	.title__small-heading{
		font-size: 1.2rem;
	}

}
